USE [BPS_ODS_SIS_DataCheck]
GO
/****** Object:  StoredProcedure [dbo].[CheckODSSISStudentPhoneNumber_bps]    Script Date: 8/14/2020 5:36:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------------------------
-- Author:		Ragha
-- Create date: 2020-06-12
-- Description:	SIS vs ODS StudentPhoneNumber Compare
-------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[CheckODSSISStudentPhoneNumber_bps]
AS
BEGIN
    SET NOCOUNT ON;
IF OBJECT_ID('tempdb.dbo.#tempaspenphn', 'U') IS NOT NULL
    DROP TABLE #tempaspenphn;
IF OBJECT_ID('tempdb.dbo.#tempodsphn', 'U') IS NOT NULL
    DROP TABLE #tempodsphn;
	

SELECT a.STD_ID_LOCAL COLLATE SQL_Latin1_General_CP1_CI_AS AS STD_ID_LOCAL,
a.PhoneNumber COLLATE SQL_Latin1_General_CP1_CI_AS AS PhoneNumber
INTO #tempaspenphn
FROM (
SELECT
STD_ID_LOCAL,
CASE WHEN p.PSN_PHONE_01 IS NOT NULL THEN PSN_PHONE_01 END AS PhoneNumber
FROM [BPSDATA-03].ExtractAspen.dbo.STUDENT s
INNER JOIN [BPSDATA-03].ExtractAspen.dbo.PERSON p ON s.STD_PSN_OID = p.PSN_OID
INNER JOIN [BPSDATA-03].ExtractAspen.dbo.V_STUDENT_ENROLLMENT e WITH (NOLOCK) ON s.STD_OID = e.ENR_STD_OID
INNER JOIN [BPSDATA-03].ExtractAspen.dbo.V_SCHOOL WITH (NOLOCK) ON SKL_OID = ENR_SKL_OID
INNER JOIN [BPSDATA-03].ExtractAspen. dbo.V_DISTRICT_SCHOOL_YEAR_CONTEXT WITH ( NOLOCK ) ON SKL_CTX_OID_CURRENT = CTX_OID
AND ENR_ENROLLMENT_DATE >= CTX_START_DATE
--Ragha Y 08-10-2020 Updated to 2020-2021 from 2019-2020'
WHERE CTX_CONTEXT_ID = '2020-2021'
AND e.ENR_WITHDATE IS NULL
AND PSN_PHONE_01 IS NOT NULL
AND 
(COALESCE(TRY_CAST(SKL_SCHOOL_ID AS INT),-1) BETWEEN 1000 AND 4800
   OR COALESCE(TRY_CAST(SKL_SCHOOL_ID AS INT),-1) BETWEEN 9000 AND 9999)
  AND s.STD_ENROLLMENT_STATUS ='Active'
UNION
SELECT STD_ID_LOCAL,
CASE WHEN PSN_PHONE_02 IS NOT NULL THEN PSN_PHONE_02 END AS PhoneNumber
FROM [BPSDATA-03].ExtractAspen.dbo.STUDENT s
INNER JOIN [BPSDATA-03].ExtractAspen.dbo.PERSON p ON s.STD_PSN_OID = p.PSN_OID
INNER JOIN [BPSDATA-03].ExtractAspen.dbo.V_STUDENT_ENROLLMENT e WITH (NOLOCK) ON s.STD_OID = e.ENR_STD_OID
INNER JOIN [BPSDATA-03].ExtractAspen.dbo.V_SCHOOL WITH (NOLOCK) ON SKL_OID = ENR_SKL_OID
INNER JOIN [BPSDATA-03].ExtractAspen. dbo.V_DISTRICT_SCHOOL_YEAR_CONTEXT WITH ( NOLOCK ) ON SKL_CTX_OID_CURRENT = CTX_OID
AND ENR_ENROLLMENT_DATE >= CTX_START_DATE
--Ragha Y 08-10-2020 Updated to 2020-2021 from 2019-2020'
WHERE CTX_CONTEXT_ID = '2020-2021'
AND e.ENR_WITHDATE IS NULL
AND PSN_PHONE_02 IS NOT NULL
AND 
(COALESCE(TRY_CAST(SKL_SCHOOL_ID AS INT),-1) BETWEEN 1000 AND 4800
   OR COALESCE(TRY_CAST(SKL_SCHOOL_ID AS INT),-1) BETWEEN 9000 AND 9999)
 AND s.STD_ENROLLMENT_STATUS ='Active'
UNION
SELECT STD_ID_LOCAL,
CASE WHEN PSN_PHONE_03 IS NOT NULL THEN PSN_PHONE_03 END AS PhoneNumber
FROM [BPSDATA-03].ExtractAspen.dbo.STUDENT s
INNER JOIN [BPSDATA-03].ExtractAspen.dbo.PERSON p ON s.STD_PSN_OID = p.PSN_OID
INNER JOIN [BPSDATA-03].ExtractAspen.dbo.V_STUDENT_ENROLLMENT e WITH (NOLOCK) ON s.STD_OID = e.ENR_STD_OID
INNER JOIN [BPSDATA-03].ExtractAspen.dbo.V_SCHOOL WITH (NOLOCK) ON SKL_OID = ENR_SKL_OID
INNER JOIN [BPSDATA-03].ExtractAspen. dbo.V_DISTRICT_SCHOOL_YEAR_CONTEXT WITH ( NOLOCK ) ON SKL_CTX_OID_CURRENT = CTX_OID
AND ENR_ENROLLMENT_DATE >= CTX_START_DATE
--Ragha Y 08-10-2020 Updated to 2020-2021 from 2019-2020'
WHERE CTX_CONTEXT_ID = '2020-2021'
AND e.ENR_WITHDATE IS NULL
AND p.PSN_PHONE_03 IS NOT NULL
AND 
(COALESCE(TRY_CAST(SKL_SCHOOL_ID AS INT),-1) BETWEEN 1000 AND 4800
   OR COALESCE(TRY_CAST(SKL_SCHOOL_ID AS INT),-1) BETWEEN 9000 AND 9999)
AND s.STD_ENROLLMENT_STATUS ='Active'
)a
SELECT DISTINCT 
a.StudentUniqueId,
CASE WHEN t.TelephoneNumber IS NOT NULL THEN t.TelephoneNumber END PhoneNumber,
sc.SchoolId
INTO #tempodsphn
FROM EdFi_BPS_Production_Ods.edfi.student a
INNER JOIN EdFi_BPS_Production_Ods.edfi.StudentTelephone t ON a.StudentUSI = t.StudentUSI
INNER JOIN EdFi_BPS_Production_Ods.edfi.StudentSchoolAssociation sc ON a.StudentUSI = sc.StudentUSI
INNER JOIN EdFi_BPS_Production_Ods.edfi.TelephoneNumberType tt ON tt.TelephoneNumberTypeId = t.TelephoneNumberTypeId
WHERE sc.ExitWithdrawDate IS NULL
--Ragha Y 08-10-2020 Updated to 2021 from 2020
AND sc.SchoolYear=2021
AND (sc.SchoolId BETWEEN 1000 AND 4800
   OR SchoolId BETWEEN 9000 AND 9999)
;

SELECT DISTINCT 
STD_ID_LOCAL COLLATE SQL_Latin1_General_CP1_CI_AS AS STD_ID_LOCAL,
PhoneNumber COLLATE SQL_Latin1_General_CP1_CI_AS AS Language
FROM #tempaspenphn
WHERE PhoneNumber COLLATE SQL_Latin1_General_CP1_CI_AS IS NOT NULL
EXCEPT
SELECT DISTINCT 
StudentUniqueId,
PhoneNumber
FROM #tempodsphn
UNION
SELECT DISTINCT 
StudentUniqueId,
PhoneNumber
FROM #tempodsphn
WHERE PhoneNumber <> '(617 000-0000'
EXCEPT
SELECT DISTINCT 
STD_ID_LOCAL COLLATE SQL_Latin1_General_CP1_CI_AS AS STD_ID_LOCAL,
PhoneNumber COLLATE SQL_Latin1_General_CP1_CI_AS AS Language
FROM #tempaspenphn
WHERE PhoneNumber COLLATE SQL_Latin1_General_CP1_CI_AS IS NOT NULL

END